@page
@model ProjetoTerapia.Pages.CadastroClinicaModel

<div style="background: linear-gradient(135deg, #4facfe, #00f2fe); padding: 20px; border-radius: 0 0 20px 20px;">
    <h2 style="color: white; text-align:center; margin:0;">
        PsiConecta
    </h2>
</div>

<h2 class="text-center mt-4">Cadastro de Clínica</h2>

<div class="container mt-4">

    

    <form method="post">

        <div class="mb-3">
            <label>Nome da clínica</label>
            <input type="text" class="form-control" asp-for="NovaClinica.Nome" required />
        </div>

        <div class="mb-3">
            <label>Descrição</label>
            <textarea class="form-control" asp-for="NovaClinica.Descricao" required></textarea>
        </div>

        <div class="mb-3">
            <label>Endereço</label>
            <input type="text" class="form-control" asp-for="NovaClinica.Endereco" required />
        </div>

        <div class="mb-3">
            <label>Telefone / WhatsApp</label>
            <input type="text" class="form-control" asp-for="NovaClinica.Telefone" required />
        </div>

        <div class="mb-3">
            <label>Valor da consulta (R$)</label>
            <input type="number" class="form-control" asp-for="NovaClinica.Valor" required />
        </div>

        <button class="btn btn-primary">Cadastrar</button>

    </form>


</div>

<style>
    .container {
        max-width: 600px;
        margin: auto;
    }
</style>